node_modules
dist
coverage
example/dist
example/coverage
build
public
.vite
.cache
.DS_Store
*.log
# Specific files if needed
# src/vite-env.d.ts (if you don't want to lint type declarations for Vite)
# example/vite-env.d.ts
